<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>Altura: {{altura}} metros</p>
  <p>Peso: {{peso}} kg</p>
  <p>IMC: {{imc}}</p>
  <a href="/imc">Voltar</a>
</body>
</html>